<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="part-footer">
  <style>
    :host {
      display: block;
    }

    .footer {
      margin-top: 40px;
      background: white;
    }
    .footer .container {
      @apply(--layout);
      @apply(--layout-justified);
      @apply(--layout-center);
    }
    .footer .links {
      @apply(--layout-horizontal);
      @apply(--layout-wrap);
      -webkit-padding-start: 0px;
      list-style: none;
      margin: 0;
    }
    .footer a {
      text-decoration: none;
      display: block;
    }
    .footer .links a {
      padding: 1em 1em 1em 0;
      color: #3d3d3d;
      font-size: 14px;
      letter-spacing: 1px;
    }
    .lang {
      color: #3d3d3d;
      letter-spacing: 1px;
      font-size: 14px;
    }

  </style>
  <template>

    <footer class="footer">
      <div class="container">
        <nav class="nav">
          <ul class="links">
            <% for (var i = 0; i < pages.length; i += 1) {
               var path = pages[i].replace('page-', '');
            %><li><a is="app-link" class="link" href="/<%= path %>"><%= path %></a></li>
          <% } %></ul>
        </nav>
      </div>
    </footer>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'part-footer'

  });
</script>
